;; Copyright © 2020, JUXT LTD.

{:paths ["src"]
 :deps
 {org.clojure/tools.logging
  {:mvn/version "0.5.0"}

  juxt/reap
  {:git/url "https://github.com/juxt/reap.git"
   :sha "593f63f5b59d5f3d76d539a8bd5f4fb3b0a417e2"}

  juxt/pick
  {:git/url "https://github.com/juxt/pick.git"
   :sha "3852b31f513f2cb83391d604739eb4251be78e8a"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "1.1.0"}}}

  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
